a{
    text-decoration: none;
    color: #2d3748;
    font-family: sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3px;
    width: 95%;
    margin: 0 auto;
}

.grid-container > .img{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.grid-container > .img > img{
    overflow: hidden;
    transition: 250ms ease-in-out;
    object-fit: cover;
    object-position: center;
    width: 100%;
    cursor: pointer;
    height: 300px;
}

.grid-container > .img:hover > img{
    transform: scale(1.3);
}

.modal-container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.459);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-content: center;
    transition: 450ms all;
    z-index: 9999;
}

.modal-gallery{
    background-color: white;
    width: 60vw;
    height: 80vh;
    overflow: hidden;
    padding: 30px 30px 60px 30px;
    border-radius: 20px;
    transform: scale(0);
    transition: 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    align-items: center;
}

.modal-gallery > .button {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
}

.modal-gallery > .button > button {
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
    padding: 5px 10px;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(6, 255, 110);
    cursor: pointer;
}

.modal-gallery > .button > button:hover{
    background-color: rgb(0, 155, 64);
}

.modal-gallery > .img-modal{
    position: relative;
    cursor: pointer;
}

.modal-gallery > .img-modal >.prev{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
}

.modal-gallery > .img-modal >.next{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
}

.modal-gallery > .img-modal > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hidden{
    display: none;
}

.show-child{
    transform: scale(1);
}

h1{
    /* padding: 10px; */
    font-size: 2rem;
    text-transform: capitalize;
    font-family: sans-serif;
    text-align: center;
    color: #2d3748;
}



body{
    background-color: rgba(211, 253, 230, 0.514);
}

nav{
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    align-items: baseline;
    border-bottom: 2px solid rgba(0, 250, 112, 0.514);
}

.logo, .nav{
    margin: 0 10px;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo > a{
    font-size: 2rem;
    font-family: Ubuntu;
}

.nav > a {
    padding: 10px;
    background-color: rgb(72, 255, 169);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

nav > .nav-right{
    font-size: 1.5rem;
    margin-left: auto;
    text-transform: capitalize;
    letter-spacing: 2px;
}

nav > .nav-right > a{
    padding: 10px;
    font-weight: 600;
}

a,
.gallery .img > img{
    transition: 250ms ease-in-out;
}

.nav > a:hover,
.intro > .content > a:hover,
.btn:hover,
.card-content button:hover{
    background-color: rgb(27, 211, 150);
}

.logo > a:hover,
.nav-right > a:hover{
    color: rgb(27, 211, 150);
    text-shadow: rgba(1, 87, 58, 0.719);
}